@{
    ViewBag.Title = "About";
}

<br />
<h2>@ViewBag.Title.</h2>

<h3>Objectives of the project</h3>
<p>
    (1)	The first and most crucial objective is to be able to map all available data and to group it logically. 
    Thereafter a model is made with SQL Server Management Studio and SQL Server 2019 that decribes and defines 
    the relations between the several data groups. This model is easy to expand if nessecary.
</p>
<p>
    (2)	The database, described by the previous model, must contain data. Therefore the second objective is to fill 
    the model with data and submit it to some tests. The data that is relevant to this project comes in different 
    file variants, like csv, pdf, tfw, xyz. It must also be easy to add the information of the created quality reports 
    of the drone flights in the database. Each pilot keeps a paper logbook for their drone flights at the moment, this 
    should be replaced by a simple inteface that belongs to the database and holds this information.
</p>
<p>
    This means that an application must be designed that can process all of these files automaticaly after uploading them. 
    The parsing of the data is done by parser classes that are described by a simple factory pattern.
</p>
<p>
    The Entity Framework (EF) is used in combination with the programming language C#. The objects of the data tables are 
    made via Object Relational Mapping (ORM). All read in data is stored in these objects and afterwards saved in the 
    database.
</p>
<p>
    (3)	The third objective describes how the can be consulted and how it can be used. A webapplication is made that allows 
    to view the data, and if necessary, edit the data manually. This application shows all of the drone flights, drones and 
    pilots that are present in the database. It is also possible to consult more detailed data by viewing the details of 
    these main categories. The aforementioned quality report and the drone logs are examples of this. The very specific data, 
    that is used for visualisation, is not shown on the webapplication and are only consultable directly via the database. 
    This is because this data comes in large quantities and is hard to read.
</p>
<p>
    (4)	The forth objective is to visualise the aforementioned large quantities of data with the ArcGIS API. These visualisations 
    can be accessed in the webviewer section of the webapplication and has an important subobjective: the webviewer must be 
    easy to navigate for laymen and allow them to intuitively share an image of a visualisation. Some examples of visualisations 
    are: showing the drone paths; showing the ground control points (GCP); visualising the battery usage of the drone; visualising 
    the height differences in the scanned area; etc. The ArcGIS library has a large offer of functionalities, which allows to add 
    extra visualisations at a later point to the webapplication.
</p>
<p>
    (5)	The last objective is to make sure that the read in data can be exported to files of another file format.
</p>

<h3>Use of the application</h3>
<h4>Add data</h4>
<p>
    Before it is possible to add a drone flight, you must first add a drone and a pilot. To do this you can go to the 
    Pilots/Drones tab and click create pilot/drone. Afterwards you fill in all the necessary information in the textfields 
    and click create. The drone flight can now be made in the same way, but at the Drone Flights tab. When the drone 
    flight is added, you can add files by clicking the upload files button in the Files column.
</p>

<h4>Delete data</h4>
<p>
    To delete data you must click delete in the row of the item you want to delete.
</p>

<h4>Edit data</h4>
<p>
    To edit data you must click edit in the row of the item you want to edit. Afterwards you can change the necessary 
    textfields and click save. If you want to edit the files you can simply reupload the edited file.
</p>

<h4>View details</h4>
<p>
    To view the details of an object you must click details in the row of the item you want to view the details of. 
    To view the details of a specific file you can click on the wanted file in the row of the item you want to view 
    the detils of.
</p>