@{
    ViewBag.Title = "About";
}

<br />
<h2>@ViewBag.Title.</h2>

<h3>Objectives of the project</h3>
<p>
    (1)	The first and most crucial objective is to be able to map all available data and to group it logically. 
    Thereafter a model is made with SQL Server Management Studio and SQL Server 2019 that describes and defines 
    the relations between the several data groups. This model is easy to expand if necessary.
</p>
<p>
    (2)	The database, described by the previous model, must contain data. Therefore, the second objective is to fill 
    the model with data and submit it to some tests. The data that is relevant to this project comes in different 
    file variants, like csv, pdf, tfw, xyz. It must also be easy to add the information of the created quality reports 
    of the drone flights in the database. Each pilot keeps a paper logbook for their drone flights at the moment, this 
    should be replaced by a simple interface that belongs to the database and holds this information.
</p>
<p>
    This means that an application must be designed that can process all of these files automatically after uploading them. 
    The parsing of the data is done by parser classes that are described by a simple factory pattern.
</p>
<p>
    The Entity Framework (EF) is used in combination with the programming language C#. The objects of the data tables are 
    made via Object Relational Mapping (ORM). All read in data is stored in these objects and afterwards saved in the 
    database.
</p>
<p>
    (3)	The third objective describes how the data can be consulted and how it can be used. A web application is made that allows 
    to view the data, and if necessary, edit the data manually. This application shows all the drone flights, drones and 
    pilots that are present in the database. It is also possible to consult more detailed data by viewing the details of 
    these main categories. The aforementioned quality report and the drone logs are examples of this. The very specific data, 
    that is used for visualisation, is not shown on the web application and are only consultable directly via the database. 
    This is because this data comes in large quantities and is hard to read.
</p>
<p>
    (4)	The fourth objective is to visualise the aforementioned large quantities of data with the ArcGIS API. These visualisations 
    can be accessed in the web viewer section of the web application and has an important subobjective: the web viewer must be 
    easy to navigate for laymen and allow them to intuitively share an image of a visualisation. Some examples of visualisations 
    are: showing the drone paths; showing the ground control points (GCP); visualising the battery usage of the drone; visualising 
    the height differences in the scanned area; etc. The ArcGIS library has a large offer of functionalities, which allows to add 
    extra visualisations at a later point to the web application.
</p>
<p>
    (5)	The last objective is to make sure that the read in data can be exported to files of another file format.
</p>

<h3>Use of the application</h3>
<h4>Add data</h4>
<p>
    To add a drone flight, you must go to the Drone Flights tab, click create new drone flight and fill in all the
    necessary information in the text fields. Afterwards you click create and the drone flight will be added to the
    database. When the drone flight is added, you can add files by clicking the upload files button in the Files 
    column.
</p>
<p>    
    To add a drone/pilot, you must go to the Drones/Pilots tab and click create new drone/pilot. Now you fill in all 
    the necessary information in the text fields and click create. The drone/pilot is now added to the database.
</p>

<h4>Delete data</h4>
<p>
    To delete data, you must go to the tab of the item you want to delete and click delete in the row of the item you 
    want to delete. Afterwards you confirm the deletion and the item will be deleted from the database.
</p>

<h4>Edit data</h4>
<p>
    To edit data, you must go to the tab of the item you want to edit and click edit in the row of the item you want to edit. 
    Afterwards you can change the necessary text fields and click save. If you want to edit the files you can simply reupload 
    the edited file. The changes will now be edited in the database.
</p>

<h4>View details</h4>
<p>
    To view the details of an item, you must go to the tab of the item you want to view the details of and click details in the 
    row of the item you want to view the details of. To view the details of a specific file you can click on the wanted file in 
    the row of the item you want to view the details of.
</p>