@model IList<List<float>>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<table class="table">
    <tr>
        <th>x</th>
        <th>y</th>
        <th>z</th>
        <th>r</th>
        <th>g</th>
        <th>b</th>
    </tr>
    
    @foreach (var attributes in Model)
    {
        <tr>
            @foreach (var attribute in attributes)
            {
                <td>@attribute</td>

            }
        </tr>


    }
</table>
