@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>Drone Planner</h1>
    <p class="lead">
        De droneplanning-tool heeft een uitgebreide, centrale databank die alle volumes aan data verwerkt en opslaat.
        Voorbeelden van data zijn: dronevluchtdata, coördinaten, locatiedata, foto’s en logboekdata. Nadien kan er via 
        de visualisatie van deze data een overzicht verkregen worden van de werf en inzicht verworven worden om vervolgens 
        optimalisaties toe te laten. Dit betekent dat de ontwikkelde tool in staat moet zijn om verschillende kenmerken, 
        zoals de diepte van een rivier, te accentueren met een gepaste visualisatietechniek. Hiervoor wordt op dit moment 
        met de Geographical Information System (GIS) software ArcGIS gewerkt. Dit softwarepakket bevat uitgebreide opties 
        aan programmeertaalkeuzes en een ruim aanbod aan visualisaties. Voor meer informatie kan je op de knop 'Leer meer' 
        klikken of naar de About pagina gaan.
    </p>
    <p>@Html.ActionLink("Leer meer", "About", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>