@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>Drone Planner</h1>
    <p class="lead">
        The Drone planner has an extensive, central database that can process and save all of the necessary data. Some
        examples of the data are: drone flight data, coordinates, location data, pictures and logging data. Afterwards,
        through visualisation of the data, an overview and insight of the site can be gained to allow optimisations.
        This means that the application must be able to accentuate different characteristics, like the depth of a river,
        with an appropriate visualization technique. To do this the Geographical Information System (GIS) software ArcGIS 
        is used at the moment. This contains a widespread number of options in function of programming languages and a large 
        offer of visualisations. For more information you can click the 'Learn more' button or go to the About tab.
    </p>
    <p>@Html.ActionLink("Learn more", "About", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>