@model IEnumerable<DroneWebApp.Models.DroneFlight>

@{
    Layout = "~/Views/Shared/_MapLayout.cshtml";
    ViewBag.Title = "Map";
}


<!-- World map -->
@if (@ViewBag.id != null)
{
    <div id="viewDiv" data-id="@ViewBag.id"></div>
}
else
{
    <div id="viewDiv"></div>
}



@section scripts{

    <script type="text/javascript" src="~/Scripts/visualisation/world_map.js"></script>

}


