
@{
    Layout = "~/Views/Shared/_MapLayout.cshtml";
    ViewBag.Title = "Map";
}


<!-- World map -->
<div id="viewDiv"></div>




@section scripts{

    <script type="text/javascript" src="~/Scripts/visualisation/world_map.js"></script>

}


