html.map-layout, .map-layout body, #droneFlightMap {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* formerly site.css - START */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* formerly site.css - END */

/* we don't like extra padding at the bottom for this page, as it only contains a map. no space
    between the end of the map and the end of the browser should be visible.
*/
.map-layout body { padding-bottom:0px; padding-top:50px; }

.redBrightText {
    color: red;
    font-weight: bold;
    font-size: 14px;
}
.deletionText {
    color: red;
    font-weight: bold;
}


.whiteText {
    color: white;
}

.textAlignCenter {
    text-align: center !important;
    vertical-align: middle !important;
}

.textAlignTD th {
    vertical-align: middle !important;
}

.textAlignCenter td {
    text-align: center !important;
    vertical-align: middle !important;
}

.paddingErrorIndex {
    padding: 20px;
    width: auto;
}

.fixedTableLayout {
    table-layout: fixed;
}

table#metadatatable {
    text-align: left;
    width: 100%;
}

table#metadatatable td, table#metadatatable th {
    padding: 8px 5px;
    border-bottom: 1px solid #ddd;
    border-left-width: 0px !important;
}

table#metadatatable tr:last-of-type td, table#metadatatable tr:last-of-type th {
    border-bottom-width: 0px;
}

/* ideally this is the other way around: .specialcase img:last-child
   instead of defining a rule applying to ALL last images and then come up
    with an exception for one of the many normal cases (in this case, the map, probably others would follow..)
    ....  please change*/
/*img:last-child*/
img:last-child {
    display: none;
}
#droneFlightMap img:last-child {
    display: inline !important; /* rule to override the general rule above */
}

#droneFlightMap img {
    width: 225px;
    height: 150px;
    display: block;
    object-fit: contain;
}

a:hover img:last-child {
    display: inline-block;
}

a:hover img:first-child {
    display: none;
}

.img-size {
    width: 40px;
    height: 40px;
}

.img-size-2 {
    width: 50px;
    height: 50px;
}

.notesSize {
    width: 450px;
    height: 400px;
}

.notesSize-pointer {
    width: 450px;
    height: 400px;
    cursor: default
}

/*Custom label sizes */
.label-xsmall {
    vertical-align: super;
    font-size: x-small;
    font-weight: normal;
}

.label-small {
    vertical-align: middle;
    font-size: small;
    font-weight: normal;
}

.label-medium {
    vertical-align: middle;
    font-size: medium;
    font-weight: normal;
}

.label-large {
    vertical-align: super;
    font-size: large;
    font-weight: normal;
}

.label-bs {
    vertical-align: super;
    font-weight: normal;
}

.no-hover {
    cursor: default;
}


/* Drone Flight Map View */

/* Popup for Images should be just as wide as necessary */
#droneFlightMap .esri-popup__main-container {
    width: auto;
}

#droneFlightMap .esri-popup__footer {
    display: none;
}