@model DroneWebApp.Models.DroneFlight

@{
    Layout = "~/Views/Shared/_MapLayout.cshtml";
    ViewBag.Title = "Map";
}

<!-- World map -->
<div id="viewDiv" data-id="@Model.FlightId"></div>

@section scripts{

    <script type="text/javascript" src="~/Scripts/visualisation/droneflight_map.js"></script>

}