@{
    ViewBag.Title = "File Upload";
}

<p></p>
<h3>File Upload</h3>


<div class="row">
    <div class="col-md-4">

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }

        @*ORIGINAL WORKING FORM*@
        <h4>Please select the file you want to add to Flight @ViewBag.Location, @ViewBag.Date</h4>
        <form method="post" enctype="multipart/form-data">

            @*<label for="file">Filename:</label>*@
            <input type="file" name="files" id="file" />

            <input type="submit" />
        </form>

       

    </div>
</div>

