@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>Simple File Upload ASP.NET MVC</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @*@using (Html.BeginForm("Index", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="files" />
            <input type="submit" value="OK" />
        }*@

        <form method="post" enctype="multipart/form-data">

            <label for="file">Filename:</label>
            <input type="file" name="files" id="file" />

            <input type="submit" />
        </form>
    </div>
</div>

